body{
color: black;

background: lawngreen;
}
header{
    border-bottom: solid 2px rgb(rgb(0, 0, 0),);
    padding: 20px;
    font-size: 32px;
    color: lawngreen;
    background: black;
}
.chamada{
    background: blue;
    padding-bottom: 100px;
    padding-top: 100px;
}