body{
color: black;

background: lawngreen;
}
header{
    border-bottom: solid 2px rgb(rgb(0, 0, 0),);
    padding: 20px;
    font-size: 32px;
    color: lawngreen;
    background: black;
}
.chamada{
    background: blue;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: right 5%;
}
p{
    text-align: center;
    font-size: 10px;
}
.categoria_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categorias {
    padding-left: 20px;
    padding-right: 20px;
}